lib/conduit/sprint/actions/fixtures/wsdl/WholesaleUsageInquiryService/v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp200409="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp200607="http://www.w3.org/2006/07/ws-policy" xmlns:ns0="http://integration.sprint.com/eai/services/WholesaleUsageInquiry/v1/WholesaleUsageInquiry.wsdl" targetNamespace="http://integration.sprint.com/eai/services/WholesaleUsageInquiry/v1/WholesaleUsageInquiry.wsdl">
<wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:schema>
<xsd:import schemaLocation="v1.xsd2.xsd" namespace="http://integration.sprint.com/common/ErrorDetails.xsd"/>
<xsd:import schemaLocation="v1.xsd3.xsd" namespace="http://integration.sprint.com/common/header/WSMessageHeader/v2"/>
<xsd:import schemaLocation="v1.xsd4.xsd" namespace="http://integration.sprint.com/interfaces/WholesaleUsageInquiry/v1/UsageInquiryEnvelope.xsd"/></xsd:schema></wsdl:types>
<wsdl:message name="faultmessage">
<wsdl:part name="body" element="xsns:errorDetailItem" xmlns:xsns="http://integration.sprint.com/common/ErrorDetails.xsd"/></wsdl:message>
<wsdl:message name="querySubscriptionUsageRequest">
<wsdl:part name="body" element="xsns:querySubscriptionUsage" xmlns:xsns="http://integration.sprint.com/interfaces/WholesaleUsageInquiry/v1/UsageInquiryEnvelope.xsd"/></wsdl:message>
<wsdl:message name="querySubscriptionUsageResponse">
<wsdl:part name="body" element="xsns:querySubscriptionUsageResponse" xmlns:xsns="http://integration.sprint.com/interfaces/WholesaleUsageInquiry/v1/UsageInquiryEnvelope.xsd"/></wsdl:message>
<wsdl:message name="WsMessageHeader">
<wsdl:part name="head" element="xsns:wsMessageHeader" xmlns:xsns="http://integration.sprint.com/common/header/WSMessageHeader/v2"/></wsdl:message>
<wsdl:portType name="WholesaleUsageInquiryPortType">
<wsdl:operation name="QuerySubscriptionUsage">
<wsdl:input name="QuerySubscriptionUsageRequest" message="ns0:querySubscriptionUsageRequest"/>
<wsdl:output name="QuerySubscriptionUsageResponse" message="ns0:querySubscriptionUsageResponse"/>
<wsdl:fault name="fault" message="ns0:faultmessage"/></wsdl:operation></wsdl:portType>
<wsdl:binding name="WholesaleUsageInquiryBinding" type="ns0:WholesaleUsageInquiryPortType">
<soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="QuerySubscriptionUsage">
<soap11:operation soapAction="querySubscriptionUsage" style="document"/>
<wsdl:input name="QuerySubscriptionUsageRequest">
<soap11:body use="literal"/>
<soap11:header message="ns0:WsMessageHeader" part="head" use="literal"/></wsdl:input>
<wsdl:output name="QuerySubscriptionUsageResponse">
<soap11:body use="literal"/>
<soap11:header message="ns0:WsMessageHeader" part="head" use="literal"/></wsdl:output>
<wsdl:fault name="fault">
<soap11:fault name="fault" use="literal"/></wsdl:fault></wsdl:operation></wsdl:binding>
<wsdl:service name="WholesaleUsageInquiryService">
<wsdl:port name="WholesaleUsageInquiryPort" binding="ns0:WholesaleUsageInquiryBinding">
<soap11:address location="https://webservicesgateway.sprint.com:444/services/mvno/WholesaleUsageInquiryService/v1"/></wsdl:port></wsdl:service></wsdl:definitions>